/* 
    --Font Styles--
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
*/

:root {
    --background-color: #F0F0F0;
    --navbar: #404040;
    --button-hover: #808080;
    --light-text: #F0F0F0;
    --strong-color: #DC4405;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    top: -4.6rem;
    background-color: var(--background-color);
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 2;
}

strong {
    font-weight: bold;
    color: var(--strong-color);
}

a {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}

/* Nav Bar */

header {
    position: relative;
    display: inline;
    top: calc(100vh + 4.6rem);
}

.nav-container {
    position: sticky;
    top: 0;
    background-color: var(--navbar);
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
}

header ul {
 list-style: none;
}

header li {
    display: inline-block;
}

header a {
    color: var(--light-text);
    display: block;
    padding: 1.5rem 2rem;
}

header a:hover {
    background-color: var(--button-hover);
}

/* Intro Section */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#intro a {
    display: inline-block;
    position: relative;
    padding: 1.5rem;
    margin: 0 auto;
    border: 2px solid var(--strong-color);
}

#intro a::after {
    content: "";
    position: absolute;
    border-bottom: .125rem solid black;
    width: 0;
    bottom: 1.3rem;
    left: 1.5rem;
    transition: .25s ease-in-out;
}

#intro a:hover::after {
    width: 60%;
}

/* About Section */
#about {
    height: 50rem;
    margin-top: 4.6rem;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about-container p {
    max-width: 25rem;
}

.my-picture {
    border-radius: 45% 5% 45% 5%;
    border: .4rem solid var(--strong-color);
    width: 10rem;
    height: auto;
    transition: .75s ease;
}

.my-picture:hover {
    filter: grayscale(100%);
}

/* Projects Section */
#projects {
    height: 50rem;
}

/* Experience Section */
#experience {
    height: 50rem;
}

/* Contact Section */
#contact {
    height: 50rem;
}